body {
  background-image: url('../img/bluffs.jpg'); /* figure out a way to load low-res img first, then high-res*/
  background-size: cover;
  height: 100%;
}

form {
  background-color: transparent;
  padding: 0px 0 30px;
}

  input[type=text] {
    width: 100%;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  section[id=about] {
    min-height: 80vh;
    padding: 100px 0 0px;
  }