<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>When-2-Meet</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/create.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">When-2-Meet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>

  <form action="/create_event" method = "post">
    <header class="header"> <!--<header class="bg-primary text-white">-->
      <div class="container text-center">
        <!-- <h1>Enter your event name</h1> -->
        <input type="text" id="event_name" placeholder="Click to enter event name" name="event_name" required/>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p>Please enter the date of your meeting and the desired meeting length below. </p>
            <!-- <label for="start">Start date:</label> -->
            <input type="date" id="start_date" name="start_date" max="2050-12-31">
            <p style="margin: 5px">to</p>
            <input type="date" id="end_date" name="end_date" max="2050-12-31"><br>
            <!-- <label>Desired Meeting Length: </label> -->
            <br>
            <input type="number" id="timeblock_hours" name="timeblock_hours" value="0" min="0" max="23"></select> hours 
            <input type="number" id="timeblock_min" name="timeblock_min" value="0" min="0" max="59"></select> mins<br>
            <br>
            <input class="btn btn-start btn-primary btn-lg" type = "submit" value="Next">
          </div>
        </div>
      </div>
    </section>
</form>

<script type="text/javascript">
window.onload = function() {
  //initSelect();
  //var dt = new Date();
  //document.getElementById("todaydate").innerHTML = dt.toLocaleDateString();
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();
  if(dd<10){
          dd='0'+dd
      } 
      if(mm<10){
          mm='0'+mm
      } 

  today = yyyy+'-'+mm+'-'+dd;
  //console.log(dt);
  document.getElementById("start_date").setAttribute("min", today);
  document.getElementById("start_date").setAttribute("value", today);
  document.getElementById("end_date").setAttribute("min", today);
  document.getElementById("end_date").setAttribute("value", today);
  
  var dateEntered = new Date(today);
  numberOfDaysToAdd = 15;
  dateEntered.setDate(dateEntered.getDate() + numberOfDaysToAdd); 
  var dd = dateEntered.getDate();
  var mm = dateEntered.getMonth()+1; //January is 0!
  var yyyy = dateEntered.getFullYear();
  if(dd<10){
    dd='0'+dd
  } 
  if(mm<10){
    mm='0'+mm
  } 
  dateEntered = yyyy+'-'+mm+'-'+dd;
  document.getElementById("end_date").setAttribute("max", dateEntered);

  document.getElementById("start_date").addEventListener("change", function(){
      var startInput = document.getElementById("start_date");
      document.getElementById("end_date").setAttribute("min", startInput.value);
      
      var dateEntered = new Date(startInput.value);
      numberOfDaysToAdd = 15;
      dateEntered.setDate(dateEntered.getDate() + numberOfDaysToAdd); 
      var dd = dateEntered.getDate();
      var mm = dateEntered.getMonth()+1; //January is 0!
      var yyyy = dateEntered.getFullYear();
      if(dd<10){
        dd='0'+dd
      } 
      if(mm<10){
        mm='0'+mm
      } 
      dateEntered = yyyy+'-'+mm+'-'+dd;
      document.getElementById("end_date").setAttribute("max", dateEntered);
    });
}

function initSelect() {
  var select = document.getElementById("timeblock");
  for(var i = 1; i <= 24; i++) {
      var opt = document.createElement('option');
      opt.innerHTML = i;
      opt.value = i;
      select.appendChild(opt);
  }
}
</script>
<!--
  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>
-->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">UCSB CS48 Project: Cynthia, Jennifer, Jelani, Vir, Ryan, Rafael</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
