<!-- 
**this is the create user page**  
bugs:
(1) field cannot be empty when user clicks submit
(2) name that user enters should not be an already existing name -->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>When-2-Meet</title>
  
  <!-- Bootstrap core CSS -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/createuser.css') }}">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">When-2-Meet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>

  <script>
    window.onload = function(e){ 
      var span = document.getElementById("link");
      var a = document.createElement('a');
      var linkText = document.createTextNode(window.location.host + "/eventstest/{{token}}");
      a.appendChild(linkText);
      a.href = "/eventstest/{{token}}";
      a.setAttribute('target', '_blank');
      span.appendChild(a);
    }
  </script>

  <form action="" method = "post">
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2>Event Name: {{event.name}}</h2>
            <label for="name">Enter your name and click next:</label>
            <input type="text" name="username" placeholder="Click to enter name" id="username" />
            <input class="btn btn-start btn-primary btn-lg" type = "submit" value = "Next">
            <div>
              <br />
              <h3>List of Attendees:</h3>
              <ul class="list-group list-group-flush">
                {%- for item in users %}
                  <li class="list-group-item" style="opacity:0.7">{{item.name}}</li>
                {%- endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
</form>

<form action="/events/{{event.token}}/getTime">
  <div class="col-lg-8 mx-auto text-center">
  <input class="btn btn-start btn-primary btn" type="submit" value="Get Time" /><br><br>
</div>
</form>

</script>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">UCSB CS48 Project: Cynthia, Jennifer, Jelani, Vir, Ryan, Rafael</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Custom JavaScript for this theme -->  
  <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

</body>

</html>
