<!-- needs middleware for css (server-side), don't worry for now -->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>When-2-Meet</title>

  <!-- Bootstrap core CSS -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/full.css') }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">When-2-Meet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <header class="header">
    <div class="container">
      <h1>Event: {{ename}}</h1>
      <p class="lead">Returning your time:</p>
      <p>The optimal time to meet is {{data}}</p>
    </div>
    <div>
      <br />
      <h3>Filled In By:</h3>
      <ul class="list-group list-group-flush">
        {%- for item in users %}
          <li class="list-group-item" style="opacity:0.7; color:black;">{{item.name}}</li>
        {%- endfor %}
      </ul>
    </div>
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Custom JavaScript for this theme -->  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
